extends layout

block scripts
    script(src='javascripts/register.js')

block content
    div#inputForm
        input#name(type="text", placeholder="Name")
        input#password(type="password", placeholder="Password")
        input#confirm(type="password", placeholder="Confirm Password")
        input#registerUser(type="button", value="Register")